header {
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo {
    margin-left: 15px;
    margin-top: 10px;
    width: 150px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}