<!--Informações do Filme Principal-->
<main>
    <div class="filme-principal" style="background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url( {{FilmesEmAltaPoster}} ); ">
        <section class="featured" ></section>
        <div class="container">
            <h3 class="titulo"> {{ FilmesEmAlta.title }}</h3>
            <h5 class="caracteristicas">{{ FilmesEmAlta.vote_average }}  Avalição  {{ FilmesEmAltaDate }}</h5>
            <p class="descricao">
                
                {{ FilmesEmAlta.overview }}
            </p>
            <div class="botoes">
                <button role="button" class="botao">
                    <i class="fas fa-play"></i>
                    ASSISTIR AGORA
                </button>
                <button role="button" class="botao">
                    <i class="fas fa-info-circle"></i>
                    MAIS INFORMAÇÕES
                </button>
            </div>
        </div>
    </div>
</main>

<!-- <pre>{{ FilmesOriginais | json}}</pre> -->

<!-- <div *ngFor="let item of FilmesOriginais" class="teste">
    <h2> {{ item.original_title }}</h2>
</div> -->